# Predicting Car Conditions

In [2]:
dataset = pd.read_csv('car_evaluation.csv')
dataset.head()

  buy_price maint_price doors persons lug_boot safety condition
0     vhigh       vhigh     2       2    small    low     unacc
1     vhigh       vhigh     2       2    small    med     unacc
2     vhigh       vhigh     2       2    small   high     unacc
3     vhigh       vhigh     2       2      med    low     unacc
4     vhigh       vhigh     2       2      med    med     unacc

In [3]:
dataset.dtypes

buy_price      object
maint_price    object
doors          object
persons        object
lug_boot       object
safety         object
condition      object
dtype: object

In [5]:
temp_dataset =  dataset.drop(['buy_price', 'maint_price', 'doors', 'persons', 'lug_boot', 'safety'] , axis=1)
temp_dataset.head()

  condition
0     unacc
1     unacc
2     unacc
3     unacc
4     unacc

In [6]:
onehot_buy = pd.get_dummies(dataset.buy_price, prefix = 'buy_price')
onehot_maint = pd.get_dummies(dataset.maint_price, prefix = 'maint_price')

onehot_doors = pd.get_dummies(dataset.doors, prefix = 'doors')
onehot_persons = pd.get_dummies(dataset.persons, prefix = 'persons')

onehot_lug_boot = pd.get_dummies(dataset.lug_boot, prefix = 'lug_boot')
onehot_safety = pd.get_dummies(dataset.safety, prefix = 'safety')

In [7]:
onehot_safety.head()

   safety_high  safety_low  safety_med
0            0           1           0
1            0           0           1
2            1           0           0
3            0           1           0
4            0           0           1

In [9]:
final_dataset = pd.concat([onehot_buy, onehot_maint, onehot_doors, onehot_persons, onehot_lug_boot, onehot_safety, temp_dataset] , axis=1)
final_dataset.head()

,buy_price_high,buy_price_low,buy_price_med,buy_price_vhigh,maint_price_high,maint_price_low,maint_price_med,maint_price_vhigh,doors_2,doors_3,...,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med,condition
0,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,0,1,0,unacc
1,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,0,0,1,unacc
2,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,1,0,0,unacc
3,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,unacc
4,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,0,1,unacc

In [10]:
X =  final_dataset.drop(['condition'], axis=1).values
y = final_dataset['condition'].values

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=400, random_state=0)  
clf.fit(X_train, y_train)  
y_pred = clf.predict(X_test)

In [15]:
from sklearn.metrics import classification_report, accuracy_score

print(classification_report(y_test, y_pred))  
print(accuracy_score(y_test, y_pred ))

              precision    recall  f1-score   support

         acc       0.90      0.96      0.93        79
        good       0.87      0.76      0.81        17
       unacc       1.00      0.97      0.99       240
       vgood       0.69      0.90      0.78        10

    accuracy                           0.96       346
   macro avg       0.87      0.90      0.88       346
weighted avg       0.96      0.96      0.96       346

0.9595375722543352